body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login-button {
  display: flex;
  align-items: center;
  background-color: #4285F4; /* Синий фон */
  color: #ffffff; /* Белый текст */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.login-button:hover {
  background-color: #357ae8; /* Темнее при наведении */
}


/* app */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: visible;
  position: relative;


}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .header-slogan {
    display: none;
  }
}


.auth-button {
  margin-top: 2px;
  padding: 10px 20px;
  background-color: #333;
  color: #FFF;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.auth-button:hover {
  background-color: #555;
}

.dropdown-icon {
  margin-left: 8px;
  font-size: 0.8em;
}

/* user-button  */
.username-button-container {
  background-color: #fff;
  position: relative;
  top: 100%;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 200px;
  animation: fadeIn 0.3s forwards;
}

.username-menu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 10px 0;
  z-index: 1000;
}

.username-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.username-menu li {
  display: flex; 
  align-items: center;
  cursor: pointer;
}

.username-menu li:hover {
  background-color: #f1f1f1;
}

.username-menu li a {
  display: block; 
  padding: 10px 20px; 
  text-decoration: none; 
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
}

.username-menu li a:hover {
  background-color: #f1f1f1;
}

.username-menu button {
  background: none;
  border: none;
  color: #007bff;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.username-menu button:hover {
  background-color: #f1f1f1;
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Основные стили */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f3f4f6;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-color: #D1E8CE;
  display: flex; /* Используем flexbox для layout */
  justify-content: space-between; /* Распределяем элементы по бокам */
  align-items: center; /* Выравниваем элементы по вертикали */
  padding: 20px; /* Отступы вокруг всего header */
}


.logo {
  width: 70px;
  height: auto;
  margin-right: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  gap: 15px; 
}
@media (max-width: 700px) {
  .header-text {
    display: none;
  }
}


header h1 {
  font-size: 2.7em;
  margin: 0;
  letter-spacing: 2px;
  line-height: 1;
  margin-right: 20px;
}

header p {
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  line-height: 1;
}

.header-left {
  display: flex; /* Выстраиваем элементы в одну строку */
  flex-direction: row; /* Элементы выстраиваются по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  cursor: pointer;
}

.button-container {
  display: flex; /* Используем flexbox для кнопок */
  gap: 10px; /* Отступ между кнопками */
}

.language-dropdown {
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.auth-button {
  padding: 10px 20px;
  background-color: #333;
  color: #FFF;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}
.auth-button:hover {
  background-color: #555;
}


/* homepage */
body_section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left; 
}
.section {
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left; 
}
.section h2 {
  font-size: 2em;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}
.section p, .section ul {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}
/* Стили для блока ценовых предложений */
.pricing {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20 0;
  flex-wrap: wrap;
}
.pricing .card {
  background: #FFF;
  padding: 25px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;                 /* Включаем Flexbox */
  flex-direction: column;       /* Располагаем элементы по колонкам */
  justify-content: space-between; /* Размещаем элементы на уровне и растягиваем их */
  height: 100%;  
}
.pricing .card:hover {
  transform: scale(1.05);
}
.pricing .card h3 {
  font-size: 1.6em;
  color: #4CAF50;
  margin-bottom: 10px;
}
.pricing .card p {
  font-size: 1.1em;
  color: #777;
  margin: 10px 0;
}
.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #FFF;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Яркая и заметная тень */
}

.button:hover {
  background-color: #388E3C;
}

/* Стили для карты */
#map {
  position: relative; /* Родительская область */
  height: 500px;
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота равна 100% от высоты экрана */
}

/* Контент */
.content {
  flex-grow: 1; /* Заставляет контент занимать все свободное место */
}

/* Футер */
footer {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}
footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #81C784;
  transition: color 0.3s;
}
footer a:hover {
  color: #4CAF50;
}

/* app */
.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Левый сайдбар, центр и правый сайдбар */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "left-sidebar center right-sidebar"
      "left-sidebar center right-sidebar"
      "left-sidebar button right-sidebar";
  gap: 20px;
  height: 100vh;
}

.dashboard2 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
      "center cart-sidebar";
  height: 100vh;
}

.left-sidebar {
  grid-area: left-sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.center {
  grid-area: center;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.right-sidebar {
  grid-area: right-sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-box {
  padding: 10px;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.button {
  grid-area: button;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}


/* Общие стили для всех фильтров */
.search-filters {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-right: 20px;
}

/* Блоки для каждого фильтра */
.filter-block {
  margin-bottom: 15px;
}

.filter-block label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

.filter-header {
  display: flex;
  align-items: center; /* Вертикальное выравнивание */
}

.filter-header label {
  margin-right: 10px; /* Отступ между текстом и счетчиком */
}

.filter-count {
  font-size: 0.9rem; /* Размер шрифта для счетчика */
  color: gray; /* Цвет текста */
}

input[type="text"] {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
  width: 100%; 
  margin-bottom: 3px;
}

input[type="text"]:focus {
  border-color: #4CAF50; /* Цвет рамки при фокусе */
  outline: none;
}

input[type="text"]::placeholder {
  color: #999; /* Цвет текста в placeholder */
  font-style: italic;
}

input[type="text"]:hover {
  border-color: #888; /* Цвет рамки при наведении */
}


/* Стили для списка */
.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.filter-list li {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: normal; /* Убирает жирность */
  font-size: 1rem; /* Увеличивает размер шрифта */
  color: #333; /* Настроить насыщенность цвета текста (тёмный серый) */

}

.filter-list li:hover {
  background-color: #e0e0e0; /* При наведении фон становится светлее */
}

.filter-list li.selected {
  background-color: #a8d5ba; /* Мягкий зеленый */
  font-weight: bold;
}




.scrollable-list {
  max-height: 220px;
  overflow-y: auto;
}

.filter-item {
  display: flex;
  align-items: center;
}

.result-label {
  margin-left: 5px; /* Отступ слева */
  margin-right: 5px; /* Отступ слева */
}

.result-count {
  font-size: 0.8rem;
  color: gray;
  text-align: right; /* Выровнять текст внутри элемента по правому краю */
}

.filter-count {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.checkbox-label {
  display: flex; /* Для размещения элементов в строку */
  align-items: center; /* Вертикальное выравнивание */
  cursor: pointer; /* Указатель при наведении */
  width: 100%; /* Захватывает всю ширину элемента списка */
  box-sizing: border-box; /* Учитывает padding в ширине */
  border-bottom: 5px;
}

.checkbox-label input {
  margin-right: 10px; /* Отступ между чекбоксом и текстом */
}

.filter-item {
  list-style: none; /* Убирает стандартные маркеры списка */
  margin: 0; /* Убирает отступы */
  padding: 0; /* Убирает отступы */
}

.result-label {
  flex-grow: 1; /* Занимает оставшееся место */
}

.result-count {
  font-size: 0.8rem; 
  color: gray;
  margin-left: 10px; /* Отступ для разделения */
}



/* Мелкие стили для адаптивности */
@media (max-width: 768px) {
  .search-filters {
      max-width: 100%;
      margin-right: 0;
  }
}

/* Стиль для правой колонки */
.right-sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

/* Стиль для блока с последними поисками */
.recent-searches h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.recent-searches ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recent-searches li {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.recent-searches li:hover {
  background-color: #e0e0e0; /* При наведении фон становится светлее */
}

.recent-searches li.selected {
  background-color: #a8d5ba; /* Выделенный элемент */
  font-weight: bold;
}


/* Стиль для кнопки "Еще" */
.dropdown-toggle {
  padding: 8px 12px;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  position: relative;
}


/* Стиль для выбранного элемента */
.filter-list .selected {
  background-color: #e0e0e0;
  font-weight: bold;
}


/* Стиль выпадающего меню */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin-top: 4px;
  width: 100%;
  z-index: 1000;
}

/* Стиль для элементов внутри выпадающего меню */
.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu {
  display: none;
}

.dropdown-toggle > .dropdown-menu {
  display: block;
}

.icons {
  margin-right: 8px;
}

/* Общие стили для страниц настроек */
.settings-page {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.settings-page h2 {
  margin-bottom: 20px;
  color: #333;
}

.settings-section {
  margin-bottom: 15px;
}

.settings-section label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #555;
}

.settings-section input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.settings-section input[type="email"] {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.save-button {
  padding: 10px 20px;
  background-color: #376092; /* Ваш цвет из предыдущего шага */
  color: #FFF;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.save-button:hover {
  background-color: #2e4a78;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 10px 0;
  z-index: 1000;
}

.dropdown-toggle {
  position: relative;
}

.dropdown-toggle .dropdown-menu {
  top: 100%;
  left: 0;
}

.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.email-notifications-settings {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.email-notifications-settings h2 {
  text-align: center;
  margin-bottom: 20px;
}

.email-field, .notifications-field {
  margin-bottom: 20px;
  margin-top: 20px;
}

.email-field label,
.notifications-field h3 {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.email-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.notifications-field label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.notifications-field input {
  margin-right: 8px;
}

body.popup-active {
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden; /* Предотвращает прокрутку фона */

}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
} 

.popup-container {
  background: white;
  width: 80%;
  max-width: 900px;
  max-height: 100%; /* Ограничиваем высоту */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Скрывает лишнее содержимое */
}

.popup-content {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100% - 60px); /* Оставляет место для футера */
}

.popup-main {
  display: flex;
  width: 90%;
  height: 100%;
}

.popup-photo-section {
  flex: 4;
  padding: 10px;
}

.popup-photo-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-photo {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}
.popup-photo:hover {
  cursor: pointer;
}

.popup-photo-nav {
  border: none;
  background: none;
  cursor: pointer;
}

.popup-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
}

.popup-table td {
  padding: 5px;
}

.popup-history {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.popup-history-entry {
  margin-bottom: 15px;
}

.popup-history-images {
  display: flex;
  gap: 10px;
}

.popup-history-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.popup-footer {
  background: #f4f4f4;
  padding: 15px;
  text-align: right;
  border-top: 1px solid #ccc;
  flex-shrink: 0;
}


.popup-close-button {
  padding: 10px 20px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Корзина */

.cart-sidebar {
  grid-area: cart-sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-sidebar h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-item p {
  font-size: 16px;
  color: #555;
}

.cart-total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}


/* Стили для тарифов */
.tariffs {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20 0;
  flex-wrap: wrap;
  justify-content: flex-start; /* Выравнивание элементов по левому краю */
}
.tariffs .card {
  background: #FFF;
  padding: 25px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;                 /* Включаем Flexbox */
  flex-direction: column;       /* Располагаем элементы по колонкам */
  justify-content: space-between; /* Размещаем элементы на уровне и растягиваем их */
  height: 100%;  
}
.tariffs .card:hover {
  transform: scale(1.05);
}
.tariffs .card h3 {
  font-size: 1.6em;
  color: #4CAF50;
  margin-bottom: 10px;
}
.tariffs .card p {
  font-size: 1.1em;
  color: #777;
  margin: 10px 0;
}
.tariffs .button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #FFF;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}
.tariffs .button:hover {
  background-color: #388E3C;
}

.popup-container-small {
  background: white;
  width: 80%;
  max-width: 400px;
  max-height: 90%; /* Ограничиваем высоту */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем по вертикали */
  align-items: center;     /* Центрируем по горизонтали */
  padding: 20px;           /* Добавляем отступы, чтобы элементы не прилегали к краям */
}

.invoice {
  margin: 5px 0;
}


.invoice-details {
  flex-direction: column; /* Строки будут располагаться вертикально */
}

.invoice-details p {
  display: flex;
  justify-content: space-between;  /* Распределить элементы с максимальным расстоянием */
  width: 50%;  /* Чтобы элементы занимали всю ширину контейнера */
  margin-left: auto; /* Выравниваем блок по правому краю */

}

.invoice-details strong {
  margin-right: 10px; /* Отступ между заголовком и значением */
}

.services-list {
  list-style-type: none;
  padding: 0;
}

.services-list li {
  margin: 5px 0;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.services-table th, .services-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.services-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.services-table tr:hover {
  background-color: #f9f9f9;
}


.total {
  margin-top: 15px;
  text-align: right;
}

.payment-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.payment-button:hover {
  background-color: #45a049;
}

.comment {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Инвойсы */
.invoices-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.invoice-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #f1f1f1;
}

.invoice-table td {
  white-space: nowrap; /* Чтобы текст оставался в строку */
}

.invoice-table img {
cursor: pointer;}

/* Общий контейнер для табов */
.popup-panel-selector {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Стили для табов */
.panel-tab {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #555;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top: 1px;
}

/* Активный таб */
.panel-tab.active {
  background-color: #e6f7e6; /* Светло-зеленый фон */
  color: #2e7d32; /* Темно-зеленый текст */
  font-weight: bold;
  border-bottom: 2px solid #e6f7e6; /* Создаёт эффект "выделенности" */
  border-color: #ccc;
  z-index: 1; /* Поднимает активный таб над другими */
}

/* Соседние табы для аккуратного перехода */
.panel-tab:not(.active):hover {
  background-color: #f0fff0; /* Едва заметный зеленый при наведении */
  color: #2e7d32;
}

/* Скругления для первого и последнего таба */
.panel-tab:first-child {
  border-top-left-radius: 5px;
}

.panel-tab:last-child {
  border-top-right-radius: 5px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
  .popup-panel-selector {
    flex-wrap: wrap;
    border-bottom: none;
  }

  .panel-tab {
    font-size: 12px;
    padding: 8px 16px;
  }
}

/* Отчет */


.report-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.report-view {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 800px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

h2,
h3 {
  margin: 0 0 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.chart-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  max-width: 500px;
  margin: 20px auto;
}

.report-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.report-view {
  background-color: #fff;
  width: 80%; /* Ширина окна */
  max-width: 800px; /* Максимальная ширина */
  height: 70%; /* Фиксированная высота */
  border-radius: 10px;
  overflow: hidden; /* Обрезать содержимое за пределами блока */
  display: flex;
  flex-direction: column; /* Для заголовка и содержимого */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.report-view h2 {
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5; /* Цвет заголовка */
  border-bottom: 1px solid #ddd;
}


.report-view .chart-container {
  margin: 20px 0;
}

.report-view-content {
  flex: 1; /* Заполняет оставшееся пространство */
  padding: 20px;
  overflow-y: auto; /* Прокрутка по вертикали */
}


/* Кнопка авторизации через гугл */

.google-login-button {
  display: flex;
  justify-content: center; /* Центрируем кнопку горизонтально */
  align-items: center; /* Центрируем кнопку вертикально */
  margin: 20px 0; /* Отступы сверху и снизу */
}

.google-login-button button {
  background-color: #4285F4; /* Цвет кнопки Google */
  color: #fff; /* Цвет текста */
  border: none; /* Убираем рамку */
  border-radius: 4px; /* Скругленные углы */
  padding: 10px 20px; /* Внутренние отступы */
  font-size: 16px; /* Размер текста */
  font-weight: bold; /* Полужирный текст */
  cursor: pointer; /* Указатель при наведении */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Легкая тень */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные эффекты */
}

.google-login-button button:hover {
  background-color: #357AE8; /* Темнее при наведении */
  transform: translateY(-2px); /* Легкий подъем */
}

.google-login-button button:active {
  background-color: #3367D6; /* Ещё темнее при нажатии */
  transform: translateY(0); /* Возвращаем в начальное положение */
}


.admin-page {
  display: flex;
}

.admin-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.admin-sidebar li {
  margin: 10px 0;
}

.admin-sidebar li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.admin-sidebar li a.active {
  color: #007bff;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}

/* Стили для попапа */


.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-field {
  margin-bottom: 15px;
}

.popup-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-field input,
.popup-field select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.popup-error {
  color: red;
  margin-top: 10px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
}

.popup-submit-button,
.popup-close-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.popup-close-button {
  background-color: #ccc;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-submit-button:hover,
.popup-close-button:hover {
  background-color: #0056b3;
}

.popup-close-button:hover {
  background-color: #888;
}

.popup-map {
  position: relative; /* Обеспечивает независимость от потока документа */
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup-map .leaflet-container {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.subitems-tabs .tabs {
  display: flex;
  margin-bottom: 20px;
}

.subitems-tabs .tab {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.subitems-tabs .tab.active {
  background-color: #4CAF50;
  color: white;
}

.subitems-tabs .tab:hover {
  background-color: #ddd;
}

.tab-content {
  margin-top: 20px;
}


.photo-history {
  padding: 20px;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-group {
  width: 100%;
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px; /* Ширина миниатюры */
  text-align: center;
}

.photo-item img {
  width: 100%;  /* Миниатюры растягиваются по ширине */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Это позволяет изображениям не искажаться */
}

.photo-item p {
  font-size: 12px; /* Меньший шрифт для текста */
  margin: 5px 0;
}


.popup-field {
  margin-bottom: 15px;
  position: relative;  /* Убедитесь, что родительские элементы имеют relative */

}

.popup-field label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
}

.popup-field select {
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
}

.popup-field select:focus {
  border-color: #4CAF50; /* Цвет границы при фокусе */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Легкое свечение при фокусе */
}

.popup-field select[multiple] {
  height: auto;
  min-height: 100px; /* Минимальная высота для множественного выбора */
  padding: 8px;
  border: 1px solid #ccc;
}

.popup-field select[multiple] option {
  padding: 5px;
  background-color: #f9f9f9;
}

.popup-field select[multiple] option:hover {
  background-color: #e0e0e0; /* Подсветка при наведении */
}

.popup-field select[multiple]:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.popup-error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.popup-submit-button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-submit-button:hover {
  background-color: #45a049;
}

.popup-field select[multiple] {
  height: auto;
  min-height: 100px; /* Минимальная высота для множественного выбора */
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.popup-field select[multiple] option {
  padding: 5px;
  background-color: #f9f9f9;
}

.popup-field select[multiple] option:hover {
  background-color: #e0e0e0; /* Подсветка при наведении */
}

.popup-field select[multiple] option:checked {
  background-color: #4CAF50; /* Зеленый фон для выбранных опций */
  color: white; /* Белый текст для выбранных опций */
}

.popup-field select[multiple]:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.tariff-select {
  width: 100%;  /* Пример */
  margin: 10px 0;  /* Пример */
}

/* Пример стилизации выпадающего списка */
.tariff-select .react-select__menu {
  max-height: 300px;
  overflow-y: auto;
}

/* Стили для выбранных элементов */
.tariff-select .react-select__multi-value {
  background-color: #f1f1f1;
  padding: 5px;
  margin: 2px;
}

/* Стили для кнопки/иконки внутри */
.tariff-select .react-select__control {
  border-radius: 8px;
  padding: 8px;
}

/* Пример: родительский контейнер */
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible; /* Убедитесь, что overflow не ограничивает видимость */
}

.tariff-select {
  z-index: 10;  /* Пример, если выпадающий список скрывается другими элементами */
}

.loader {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin: 10px 0;
  position: absolute; /* Позиционирование */
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%); /* Центрирование относительно точки */
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
  padding: 10px 20px; /* Отступы */
  border-radius: 8px; /* Скругленные углы */
  z-index: 10000; /* Уровень слоя */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}


.hidden {
  display: none;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-panel {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}

.popup-panel-header {
  display: flex;
  gap: 16px;
}

.popup-photo {
  width: 150px;
  height: 150px;
  object-fit: contain; /* Умещение изображения */
  object-position: center; /* Центровка изображения внутри контейнера */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0; /* Цвет фона для пустых областей */
}

.popup-panel-info {
  flex: 1;
}

.popup-history-button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.popup-history-button:hover {
  background-color: #0056b3;
}

.popup-history {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #ccc;
}

.popup-history-gallery {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}

.popup-history-entry {
  text-align: center;
}

.popup-history-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-panel-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.fullscreen-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.form-buttons button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
}

.form-buttons button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-buttons button[type="button"] {
  background-color: #ddd;
  color: #333;
}

.form-buttons button[type="button"]:hover {
  background-color: #bbb;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}


.fixed-size {
  width: 200px; /* Укажите нужную ширину */
  height: 200px; /* Укажите нужную высоту */
  object-fit: contain; /* Вписывает картинку без обрезки, сохраняет пропорции */
}



.language-selector-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Если нужно выровнять и по горизонтали */
}


.demo-tariff-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D1E8CE;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* более глубокая тень */
}

.demo-tariff-text {
  max-width: 70%; /* Ограничение ширины для текста */
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.demo-tariff-info p {
  margin: 5px 0; /* отступы между строками */
}

.tariff-button {
  background: #388E3C;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tariff-button:hover {
  background: #4CAF50;
}
